.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

#change {
  padding: 15px;
  text-align: center;
  background-color: rgb(62, 115, 231);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

#change:hover {
  background-color: rgb(73, 223, 198);
  color: rgb(138, 0, 53);
}

#change:active {
  transform: translateY(5px);
}

#color {
  color: #fff;
}
